* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
}

/********* inicia header ********/
.header {
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.logoGlobal {
	display: flex;
	align-items: center;
	padding-left: 300px;
}

.logo {
	width: 150px;
	margin-right: 10px;
}

.global p{
	border-left: 1px solid grey;
	padding: 10px;
	text-decoration: none;
	font-size: 20px;
	color: grey;
}

.botonesUno {
	display: flex;
	gap: 10px;
	align-items: center;
	font-style: normal;
	font-size: 22px;
	padding-left: 700px;
	color: #464646;

}
.botonesUno li, a {
	text-decoration: none;
	list-style-type: none;
}

.nube{
	width: 4%;
	margin: 0;
	padding: 0;
}

.icono {
	width: 3%;
	margin: 0;
	padding: 0;
}

.lupa {
	width: 3.5%;
}

/********** INICIA Menu INFERIOR ******/
.menuDos {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	color: #464646;
}

.menuDos:hover {
	background: none;
	color: steelblue
}

.botonesDos {
	display: flex;
	gap: 350px;
	padding: 20px;
	align-items: center;
	justify-content: center;
	font-style: normal;
	text-decoration: none;
	list-style-type: none;
	font-size: 22px;
}

/********** INICIA MAIN **********/
main {
	background-color: #f8f5f1;
}

.fondo {
    padding-top: 30px;
}

.mensaje {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 50px;
	color: #464646;
}

hr {
    width: 40%;
    position: relative;
    left: 570px;
}

.h1, .h2 {
    color: orangered;
}

.elementosUno {
	padding: 50px 0px 50px 0px;
}

.elementos ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	text-align: center;
	gap: 250px;
	padding: 20px;
}

.elementos li {
	border: 1px solid;
	background-color: white;
	padding: 0px 20px 40px 20px;
	border-radius: 10px;
	border: none;
}

.elementos h2 {
    color: orangered;
}

.elementosDos {
    padding-bottom: 80px;
}

.preguntas {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25%;
}

.mapa {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.productos {
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.empleo {
    padding-top: 20px;
    padding-bottom: 20px;
}
/*************  INICIA FOOTER **********************/

.logoDos {
	width: 5%;
}

.redesSociales {
	padding: 50px 0px 50px  0px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1200px;
}

.made {
	display: flex;
	color: #464646;
	text-align: center;
	gap: 20px;
	align-items: center;
	justify-content: center;
	border-top:  1px solid grey;
	padding: 50px;
}

.sena {
	width: 2%;
}