* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
}

/********* inicia header ********/
.header {
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.logoGlobal {
	display: flex;
	align-items: center;
	padding-left: 300px;
}

.logo {
	width: 150px;
	margin-right: 10px;
}

.global p{
	border-left: 1px solid grey;
	padding: 10px;
	text-decoration: none;
	font-size: 20px;
	color: grey;
}

.botonesUno {
	display: flex;
	gap: 10px;
	align-items: center;
	font-style: normal;
	font-size: 22px;
	padding-left: 700px;
	color: #464646;

}
.botonesUno li, a {
	text-decoration: none;
	list-style-type: none;
}

.nube{
	width: 4%;
	margin: 0;
	padding: 0;
}

.icono {
	width: 3%;
	margin: 0;
	padding: 0;
}

.lupa {
	width: 3.5%;
}

/********** INICIA Menu INFERIOR ******/
.menuDos {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	color: #464646;
}

.menuDos:hover {
	background: none;
	color: steelblue
}

.botonesDos {
	display: flex;
	gap: 350px;
	padding: 20px;
	align-items: center;
	justify-content: center;
	font-style: normal;
	text-decoration: none;
	list-style-type: none;
	font-size: 22px;
}

/********** INICIA MAIN **********/
main {
	background-color: #f8f5f1;
}

.fondoUno {
	padding-top:5px;
}

.imagenUno {
	width: 100%;
	padding-top: 30px;
}

.mensaje {
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;
	color: #464646;
}

h1, h2 {
	color: orangered;
}

.mensaje p {
	font-size: 20px;
}

.podcast {
	background-image: url(/media/bg.jpg);
	text-align: center;
	padding: 100px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.podcast button {
	border: none;
	border-radius: 10px;
	width: 250px;
	height: 50px;
	font-size: 16px;
	font-weight: 500;
}

/*************  INICIA FOOTER **********************/

.logoDos {
	width: 5%;
}

.redesSociales {
	padding: 50px 0px 50px  0px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1200px;
}

.made {
	display: flex;
	color: #464646;
	text-align: center;
	gap: 20px;
	align-items: center;
	justify-content: center;
	border-top:  1px solid grey;
	padding: 50px;
}

.sena {
	width: 2%;
}
